.person__image {
    height: 500px;
    border-radius: .25rem;
}

.person__image__block {
    position: relative;
}

.favorite {
    position: absolute;
    top: -2rem;
    right: -2rem;
    background-color: transparent;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    padding: 0;

    svg {
        width: 2.5rem;
        height: 2.5rem;
        path {
            color: #fff;
        }
    }
}

