.link__wrapper {
    position: relative;
}
.link__counter {
    position: absolute;
    top: -.6rem;
    right: -.6rem;
    padding: .3rem .5rem;
    border-radius: 50%;
    background-color: #fff;
    color: #333;
    line-height: 1;
    font-size: 1rem;
}